<li class="card-item" data-id="<%= card.get('id') %>" >
	<div class="card-title">
		<%= card.escape("title") %>
	 	<span class="card-destroy glyphicon glyphicon-remove" id="removeCard<%=card.get('id')%>"
	 		data-id="<%= card.get('id') %>" style="cursor: pointer">
	 	</span>
	</div>
</li>
