<h3 style="color: #ff6600">Create a New Board</h3>
<form id="new-board-form">
	<div class="form-group">
	<label for="board_title" style="color: #ff6600">Title</label><br><input type="text" name="board[title]" id="board_title"><br>
	<button class="btn-primary" id="new-form-button">Create a board</button>
	</div>
</form>