<h3>Create a New Board</h3>
<form id="new-board-form">
	<label for="board_title">Title<input type="text" name="board[title]" id="board_title"></label><br>
	<button id="new-form-button">Create a board</button>
</form>