<div id="boards">
<h3 style="color: #ff6600">My Boards</h3>

<ul id="board-index">
	<% boards.each(function(board){ %>
			<a href="#/boards/<%= board.escape('id')%>"><li class="board-list"><%= board.get("title") %>
				
					 <span class="destroy glyphicon glyphicon-remove" 
					 data-id="<%= board.get('id') %>" style="cursor: pointer">
					 </span>
			</li></a>
		<% }) %>
		<li class="board-list" id='index-form'><div id="new-board-div">Add a board...<div></li>
</ul><br>
</div><br>
<!-- <img class="lane" src="assets/lane.png"></img> -->
