<div id="boards">
<h3 style="color: #ff6600">My Boards</h3>

<ul id="board-index">
	<% boards.each(function(board){ %>
			<li class="board-list"><a href="#/boards/<%= board.escape('id')%>"><%= board.get("title") %></a>
				
					 <span class="destroy glyphicon glyphicon-remove" 
					 data-id="<%= board.get('id') %>" style="cursor: pointer">
					 </span>
			</li>
		<% }) %><br>
</ul><br>
</div><br>
  <div id='index-form'></div>