/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.btn-primary{
	background-color: #660000;
	color: #ff6600;
	border: #ff6600 2px solid;
}
#board-index{
	float: left;
	    width: 100%;
	    padding: 0;
	    margin: 0;
		display: inline-block;
	    list-style-type: none;
}

.navbar{
	background-color: #ff6600;
	border-color: #660000;
	.navbar-brand{
		color: #660000;
	}
}

body{
	background: linear-gradient(to right, #660000, #751919);
}



#board-index li{
	background-size: cover;
	background-position: center center;
	border-radius: 3px;
	display: inline;
	font-weight: 700;
	min-height: 18px;
	padding: 8px 12px 8px 12px;
	position: relative;
	text-decoration: none;
	color: #660000;
	margin: .75%;
	transition: all .1s ease-in-out;
}

#board-index li:hover { 
	transform: scale(1.08); 
}

.board-list {
	float: left;
	width: 20%;
	border: #ff6600 2px solid;
	color: #660000;
	background-color: #ff6600;
	line-height: 50px;
	padding: 3px;
	box-shadow: 5px 5px 3px #D4A017;
}

.board-list a{
	color: #660000;
}

.lists li{
	background-size: cover;
	background-position: center center;
	border-radius: 3px;
	display: inline;
	font-weight: 700;
	min-height: 18px;
	padding: 8px 12px 8px 12px;
	position: relative;
	text-decoration: none;
	color: white;
	margin: 5px;
}

h2{
	margin-left: 75px;
}

.destroy{
	float: right;
	height: 5px;
	width: 5px;
	color: black;
	opacity: 0.7;
	font-weight: 700;
}

#boards{
	margin-left: 5%;
	margin-right: 5%;
}

#list-form{
	margin-left: 5%;
	margin-right: 5%;
}

#new-form-button{
	margin-top: 1%;
	background-color: #660000;
	color: #ff6600;
}

#new-card-button{
	background-color: #660000;
	color: #ff6600;
}

#board-show-lists{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
	display: inline-block;
    list-style-type: none;
		
}

#board-show-lists .list-item{
	background-size: cover;
	background-position: center center;
	border-radius: 3px;
	display: inline-block;
	font-weight: 700;
	min-height: 18px;
	padding: 8px 12px 8px 12px;
	position: relative;
	text-decoration: none;
	color: #660000;
	margin: .75%;
	border: #ff6600 2px solid;
	background-color: #ff6600;
}

.list-item {
	float: left;
	width: 20%;
	border: #ff6600 2px solid;
	background-color: #ff6600;
	line-height: 50px;
	padding: 3px;
	box-shadow: 5px 5px 3px #D4A017;
}

.card-item{
	background-size: cover;
	background-position: center center;
	border-radius: 3px;
	display: inline-block;
	font-weight: 700;
	min-height: 18px;
	padding: 8px 12px 8px 12px;
	position: relative;
	text-decoration: none;
	color: #ff6600;
	margin: 1.4%;
	background-color: #660000;
	float: left;
	width: 80%;
	box-shadow: 5px 5px 3px #D4A017;
}

#board-show-lists{
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
}

#index-form{
	background: grey;
	border:grey 2px solid;
	box-shadow: 5px 5px 3px white;
}

#new-board-div{
	width: 100%;
	cursor: pointer;
	color: white;
}

.new-card-div{
	display:inline-block;
	width: 100%;
	cursor: pointer;
	color: white;
}
