<h3>Create a New List</h3>
<form id="new-list-form">
	<label for="list_title">Title<input type="text" name="list[title]" id="list_title"></label><br>
	<input type="hidden" name="list[board_id]">
	<button id="new-form-button">Create a list</button>
</form>