<span id="new-board-header" style="cursor:pointer"><h3 style="color: #ff6600">Create a New List</h3></span>
<form id="new-list-form">
	<label for="list_title" style="color: #ff6600">Title<input type="text" name="list[title]" id="list_title"></label><br>
	<input type="hidden" name="list[board_id]">
	<button id="new-form-button">Create a list</button>
</form>