<li class="list-item" data-id="<%= list.get('id') %>" >
	<%= list.escape("title") %>
	 <span class="destroy glyphicon glyphicon-remove" 
	 data-id="<%= list.get('id') %>" style="cursor: pointer">
	 </span>
	<ul class="cards connectable"></ul><br>
	<div class="new-card-div">Add a card..</div><br>
	<div class="card-form"></div>
</li>
